/*html,body,.layout{*/
    /*height: 100%;*/
/*}*/
/*头部*/
header,nav {
    height: 4rem;
    line-height: 4rem;
    border-bottom: 1px solid #F2F2F2;
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 2;
    text-align: center;
    font-size: 1.4rem;
    color: #333333;
    overflow: hidden;
}

nav {
    top: 0rem;
    left: 0;

}
.shop-nav li {
    float: left;
    border-right: 1px solid #eee;
    position: relative;
    width: 33.33%;
    text-align: center;
    font-size: 1.3rem;
    height: 2rem;
    line-height: 2rem;
    margin-top: 1rem;
}
.shop-nav li:nth-of-type(2){
    width: 41.66%;
}
.shop-nav li:nth-of-type(3){
    width: 25%;
}
.shop-nav i {
    background: url(../image/sort.png) no-repeat;
    height: 6px;
    width: 8px;
    display: inline-block;
    margin-left: 6px;
    margin-bottom: 2px;
}
li.up,li.down {
    color: #33C774;
}
li.up i {
    background: url(../image/sort.png) no-repeat -8px 0px;
}
li.down i {
    background: url(../image/sort.png) no-repeat bottom right;
}
main {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.noProduct::after {
    content: '商品陆续上架 敬请期待';

}
/*单个商品*/
.product-box {
    padding: 0.3rem 0 1rem;
    border-bottom: 1px solid #F2F2F2;
    position: relative;
}
.product-img {
    width: 25%;
    margin-top: 0.5rem;
}
.product-img img {
    width: 100%;
}
.product-info {
    width: 55%;
    margin-right: 3%;
}
.product-title {
    font-size: 1.2rem;
    line-height: 2rem;
    padding-right:2rem;

}
.product-title::after {
    content: '';
    background: url("../image/fenxiao@2x.png") no-repeat;
    -webkit-background-size: 2.5rem;
    background-size: 2.5rem;
    position: absolute;
    top: 0;
    right: 0.8rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    border-radius: 0.2rem;
    text-indent: 0rem;
    font-size: 1rem;
    color: #ffffff;

}
.buyinfo {
    margin-top: 1.5rem;
}
.price b,.price i {
    color:#E52D01;
    margin-right: 1rem;
}
.peopleNum {
    margin-top: 0.8rem;
    font-size: 1.1rem;
    color: #999999;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.6rem;
    width: 100%;
    background: #fff;
    border-top: 1px solid #F2F2F2;
}
footer a {
    float: left;
    width: 50%;
    text-align: center;
}
footer .addProd {

    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.50);
    color: #B9B9B9;

}
footer .addProd.enabled {
    background: #33C774;
    color:#ffffff;
}
.product-check {
    overflow: hidden;
    float: left;
    position: relative;
    width: 15%;
    height: 12rem;
}
.product-check input {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.checkbox + label {
    background-color: #FFF;
    border: 1px solid #C1CACA;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.checkbox:checked + label {
    width: 2.5rem;
    height: 2.5rem;
    background: url(../image/selected@3x.png) no-repeat;
    background-size: 2.5rem 2.5rem;
    color: #243441;
    border: none;
}
.dropdown {
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0,0,0,0.5);
    display: none;
}
.dropdown .list {
    width: 33.33%;
    float: left;
}
.list2,.list3 {
    height: 100% !important;
}
.dropdown .list li {
    border-right:1px solid #ccc;
    background: #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
}
.dropdown .list li.on {
    color: #2ac845;
}