/*覆盖插件样式*/
.mui-scroll-wrapper {
    z-index: 1;
}
.mui-content {
    background-color: #fff;
}
h1 {
    padding: 0;
    margin: 0;
    line-height: 4rem;
}
/*头部*/
header {
    height: 4rem;
    line-height: 4rem;
    border-bottom: 1px solid #F2F2F2;
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 2;
    text-align: center;
    font-size: 1.4rem;
    color: #333333;
    overflow: hidden;
}

header a {
    position: absolute;
    left: 0;
    padding:0 1.5rem;
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
}
/*单个商品*/
.product-box:first-of-type {
    margin-top: 4rem;
}
.product-box {
    padding: 1rem 0;
    border-bottom: 1px solid #F2F2F2;
}
.product-img {
    width: 30%;
    margin-left: 3%;
    border: 0.6rem solid #F5F7F6;
}
.product-img img {
    width: 100%;
}
.product-info {
    width: 60%;
    margin-right: 3%;
}
.product-title {
    font-size: 1.3rem;
    line-height: 2rem;
    position: relative;
    text-indent: 2.5rem;

}
.product-title::before {
    content: 'hot';
    position: absolute;
    top: 0.5rem;
    left: 0;
    width: 2.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    background: #FFD200;
    border-radius: 0.2rem;
    text-indent: 0rem;
    font-size: 1rem;
    color: #ffffff;
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);/*文字有最小限制*/
}
.buyinfo {
    margin-top: 1.5rem;
}
.price b {
    color:#E52D01;
}
.price s {
    font-size: 1rem;
    color: #999999;
    margin-left: 1rem;
}
.peopleNum {
    margin-top: 0.8rem;
    font-size: 1.1rem;
    color: #999999;
}
.buyBtn {
    border: 1px solid #2ac845;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    padding:0.5rem 1rem;
    margin-top: 0.5rem;
}
